body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.node {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e3e3e3;
    display: inline-block;
    position: relative;

}

.node::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #333;
    top: 50%;
    right: -20px;

}

.node:last-child::after {
    display: none;

}

#array, #queue, #stack, #linkedlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* styles.css */
body {
    background-color: #e0dbdb;
}

.bar {
    width: 20px;
    margin: 0 1px;
    background-color: teal;
}
#binarytree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.valueInput{
    padding: 20px;
    color: black;
    border: 2px solid black;
}

.node {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
}
.connector {
    width: 2px;
    height: 20px;
    background-color: black;
    position: absolute;
}
.left {
    transform: rotate(45deg);
    transform-origin: top left;
}
.right {
    transform: rotate(-45deg);
    transform-origin: top right;
}
